:root {
  background-color: var(--main-background-color);
  --primary-color: #dc2626;
  --primary-color-hover: #991b1b;
  --main-background-color: #e5e7eb;
  --secondary-background-color: #ffffff;
  --border-color: #9ca3af;
  --text-primary: #111827;
  --text-secondary: #4b5563;
  --shadow-color: rgba(0, 0, 0, 0.1);
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
  color: inherit;
}

html, body, #root {
  height: 100%;
}

body {
  font-family: 'Roboto Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  color: var(--text-primary);
  background: var(--main-background-color);
  /* overflow: hidden; */
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
}


